.client__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.client {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.client__list {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.client__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--duration) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
