.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);

  .section-padding:nth-child(3) {
    padding-top: 0;
  }
}

.features {
  list-style: none;
  padding-left: 0;
  margin: 0;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--filters-color);
  height: 120px;
  margin-bottom: 30px;
}

// .features__list {
//   margin-right: 30px;

//   .features__list:last-child {
//     margin-right: 0;
//   }
// }

.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  height: 16px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.features__text {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
