.overlay {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--main-bcg-color);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/Header@1xmobile.jpg);

  // @media screen and (min-width: $tablet) {
  //   min-width: $tablet;
  // }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/Header@2xmobile.jpg);
  }
}

@media screen and (min-width: 481px) {
  .overlay {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/Header@1xtablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/Header@2xtablet.jpg);
    }
  }
}

@media screen and (min-width: 1000px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/headerdesktop@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/headerdesktop@2x.jpg);
    }
  }
}

.main-section__title {
  width: 100%;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  @media screen and (min-width: $tablet) {
    width: 360px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.main-section__order-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
