.team__staff {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.img-size {
  width: 100%;
}

.socials__margin {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.team-section {
  background-color: var(--filters-color);
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--icon-color);

  transition: background-color var(--duration) var(--time-function),
    color var(--duration) var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.team-photo {
  background-color: var(--primary-white-color);
}

.team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    // margin: -15px;
  }
}

.team-section__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  height: 42px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__list {
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    // margin: 15px;
    & + & {
      margin-left: 30px;
    }
    width: calc((100% - 2 * 15px) / 2);

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
    margin-bottom: 0;

    &:nth-child(3) {
      margin-left: 30px;
    }
  }
}

.socials {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--primary-text-color);
}

// .team-section__container {
//   margin-left: auto;
//   margin-right: auto;
//   width: 1200px;
//   padding-right: 15px;
//   padding-left: 15px;
//   background-color: var(--filters-color);
// }

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--filters-color);

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__position {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
