.example__list {
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}

.example {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  // display: flex;
  width: 370px;
}

// .example__text {
//   margin: 0;
// }

.section-padding__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  height: 42px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.example__card {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.example__text {
  width: 370px;
  height: 70px;
  margin: 0;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
